@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #464c52;
  min-height: 100vh;
  padding: 15px !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.box {
  padding: 1rem;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.movies.box {
  width: 75%;
}

.movie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.movie:hover {
  background-color: #f6f6f6;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.movie-metadata {
  text-align: left;
  margin-right: 20px;
}

.movie-header {
  margin-left: 1rem;
}

h2 {
  font-weight: 600 !important;
  margin-bottom: 0 !important;
}


hr {
  width: 100%;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.movie-metadata .title, .movie-metadata .subtitle {
  margin-bottom: 0;
  margin-top: 0;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
